@charset "UTF-8";
body{
  margin: 0;
  padding: 0;
}
.sidebar-navigation nav{
}
.sidebar-navigation ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #017f3f;
  overflow-y: auto;
 }
 .sidebar-navigation li{
  display: inline;
  float: left;
 }
 .sidebar-navigation li a ,p{
  display: block;
  color: white;
  padding: 50px 16px;
  text-decoration: none;
  margin: 0;
 }

 .sidebar-navigation li a:hover {
  background-color: #219f5f;
 }
.zoom-200{
	zoom : 200%;
}
#page-center {
    position:absolute;
    text-align:center;
    top:50%;
    width:100%;
    margin-top:-20px;  /*   20 คือ ความสูงของ div หารสอง 2  */
}
pre.ex1 {
  max-height: 60px;
  overflow: auto;
}
p.ex1 {
  max-height: 60px;
  overflow: auto;
}
hr.orange{
  border: 6px solid orange;
}
p.a{
	font-family: "Times New Roman", Times, serif;
}
/*
 .border td{
 	border-style: solid;
 	margin : 0;
 	border-left: none;
 	border-right: none;
 	border-bottom: none;
 }

 .border-right-th th{
 	border-style: solid;
 	border-left: none;
 	border-top: none;
 	border-bottom: none;
 }*/